.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    color:white !important;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
    color:white !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color:white !important;
}
